@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #063264;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: 600px;
  margin: 0 auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
}

.section-row {
  display: flex;
  width: 100%;
}

.section-row div {
  display: flex;
  margin-bottom: 0.5rem;
}

.section-row div:first-child {
  width: 50%;
}

.section-row div:last-child {
  width: 50%;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  width: 100%;
}

.submit-form {
  display: flex;
  margin: 24px 0 auto 0;
}

a.active {
  color: red;
}

.stepper {
  display: flex;
  padding: 24px;
  width: 100%;
}

.stepper ol {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.error {
  display: flex;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

label {
  display: flex;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
